form
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-between

.authorization-container
  width: 90%
  height: 250px
  max-width: 400px
  margin: auto

.authorization-welcome
  z-index: 1
  letter-spacing: 0.5px
  text-shadow: none
  color: black

.password-container
  width: 90%
  max-width: 420.5px

