.balance-form
  width: 90vw
  height: 90vh
  h2
    margin-left: auto
    margin-right: auto
  p
    margin: 10px 0
  form
    justify-content: flex-start
    align-items: flex-start
    text-align: left

  &__date
    box-sizing: border-box
    border: 1px solid black
    width: 100%
    padding: 10px

  &__finances
    display: flex
    justify-content: space-between
    box-sizing: border-box
    border: 1px solid black
    width: 100%
    padding: 10px

    &-input
      margin: 15px 5px

  &__balance
    box-sizing: border-box
    border: 1px solid black
