@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap");
.finances-inner-wrapper {
  width: 100%;
  padding: 0 10px;
  background: rgb(255, 255, 255);
  box-sizing: border-box;
  border-radius: 4px;
}
.finances-inner-wrapper__header {
  width: 100%;
  background: rgb(255, 255, 255);
  padding: 5px 0;
  border-bottom: 1px solid rgb(224, 224, 224);
  color: #797272;
  font-size: 0.875rem;
  text-align: left;
}
.finances-inner-wrapper__list-item {
  position: relative;
  width: 100%;
  display: flex;
  background: rgb(255, 255, 255);
  align-items: center;
  text-align: center;
  z-index: 1;
}
.finances-inner-wrapper__list-item::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(circle, rgb(116, 115, 115) 0%, rgb(255, 255, 255) 83%);
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
}
.finances-inner-wrapper__list-item .list-item__picture {
  width: 20%;
  transition: 1s;
}
.finances-inner-wrapper__list-item .list-item__menu-button {
  position: relative;
  align-self: flex-start;
  transition: 1s;
}
.finances-inner-wrapper__list-item .list-item__menu-button .menu-button_delete {
  position: absolute;
  top: 30px;
  right: 5px;
  background: rgb(51, 51, 51);
}
.finances-inner-wrapper__list-item .list-item__info {
  height: 100%;
  flex: 1;
  box-sizing: border-box;
  padding: 10px 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  text-align: left;
  font-size: 1rem;
  color: rgb(51, 51, 51);
}
.finances-inner-wrapper__list-item .list-item__info p {
  margin: 0;
  margin-bottom: 2px;
}
.finances-inner-wrapper__list-item .list-item__info .list-item__info_aditional-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 2px;
  font-size: 0.8rem;
  color: rgb(147, 160, 171);
  transition: 1s;
}
.finances-inner-wrapper__list-item .list-item__info .list-item__info_amount-info {
  font-size: 1rem;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  transition: 1s;
}
.finances-inner-wrapper__list-item .list-item__info .list-item__info_amount-info span {
  color: rgb(147, 160, 171);
  font-size: 1rem;
  transition: 1s;
}

.payment-form {
  padding: 0;
  border: transparent;
  background: rgb(193, 210, 214);
}
@media (max-width: 690px) {
  .payment-form {
    width: 90%;
  }
}
.payment-form__header {
  width: 100%;
  height: 200px;
  background: url(../../images/background-27.png);
  border-radius: 10px 10px 0 0;
  clip-path: polygon(0 0, 100% 0%, 100% 69%, 0 100%);
}
.payment-form__header_picture {
  height: 100%;
  background: rgba(192, 222, 229, 0.7);
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.6);
}
.payment-form__main {
  padding: 20px;
  box-sizing: border-box;
}
.payment-form__main_radio-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

/*# sourceMappingURL=FinanceStatementPage.css.map */
