@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap");
.category-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 10px 0;
}

.category-holder__button {
  width: 30%;
  height: 2rem;
  border: none;
  border-radius: 4px;
  background: white;
  color: #333333;
  font-family: Open sans-serif;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.category-holder__button:hover {
  background: #797272;
}

.finances-inner-wrapper {
  width: 100%;
  padding: 0 10px;
  background: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.finances-inner-wrapper__header {
  width: 100%;
  background: white;
  padding: 5px 0;
  border-bottom: 1px solid #e0e0e0;
  color: #333333;
  font-size: 0.875rem;
  text-align: left;
}

.finances-inner-wrapper__list-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  border-bottom: 1px solid #e0e0e0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.finances-inner-wrapper__list-item:hover {
  background: #797272;
}

.finances-inner-wrapper__list-item .list-item__picture {
  width: 20%;
}

.finances-inner-wrapper__list-item .list-item__info {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  text-align: left;
  font-size: 1rem;
  color: #333333;
}

.finances-inner-wrapper__list-item .list-item__info p {
  margin: 0;
  margin-bottom: 2px;
}

.finances-inner-wrapper__list-item .list-item__info .list-item__info_aditional-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2px;
  font-size: 0.8rem;
  color: #93a0ab;
}

.finances-inner-wrapper__list-item .list-item__info .list-item__info_amount-info {
  font-size: 1.2rem;
  font-family: auto;
}

.finances-inner-wrapper__list-item .list-item__info .list-item__info_amount-info span {
  color: #93a0ab;
  font-size: 1rem;
}

.payment-form {
  padding: 0;
  border: transparent;
  background: #c1d2d6;
}

.payment-form__header {
  width: 100%;
  height: 200px;
  background: url(../../images/background-27.png);
  border-radius: 10px 10px 0 0;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 69%, 0 100%);
          clip-path: polygon(0 0, 100% 0%, 100% 69%, 0 100%);
}

.payment-form__header .payment-form__header_picture {
  height: 100%;
  background: rgba(192, 222, 229, 0.7);
  border-radius: 10px 10px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.6);
}

.payment-form__main {
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.payment-form__main .payment-form__main_radio-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0;
}
/*# sourceMappingURL=FinanceStatementPage.css.map */