@import "../../variables"

.gallery-container
  display: flex
  flex-direction: column
  align-items: center
  z-index: 1
  height: 100%
  max-height: 80vh

  .gallery-menu
    border: 2px solid $main_color
    border-bottom: none
    border-top-left-radius: 5px
    border-top-right-radius: 5px
    padding: 5px
    width: 362px

    &_no-border
      border: none
      padding-bottom: 0

  .inner-gallery-container
    display: flex
    flex-wrap: wrap
    justify-content: space-evenly
    padding: 10px
    width: 885px
    box-sizing: border-box
    min-height: 232px
    overflow-y: scroll
    scroll-behavior: smooth
    border: 2px solid $main_color
    border-radius: 10px
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
    backdrop-filter: blur(5px)

    &::-webkit-scrollbar-track
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3)
      border-top-right-radius: 10px
      border-bottom-right-radius: 10px
      background-color: #F5F5F5

    &::-webkit-scrollbar
      width: 8px
      border-top-right-radius: 10px
      border-bottom-right-radius: 10px
      background-color: #F5F5F5

    &::-webkit-scrollbar-thumb
      border-top-right-radius: 10px
      border-bottom-right-radius: 10px
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3)
      background-color: $main_color

    @media (max-width: 812px)
      width: 800px

    .gallery-item
      display: flex
      flex-direction: column
      align-items: center
      margin: 5px
      padding: 5px
      border-radius: 5px
      width: 120px
      background: $main_color_opacity
      backdrop-filter: blur(10px)
      box-shadow: $material-box-shadow

      .lady-thumbnail
        border-radius: 5px
        margin-top: 10px
        box-shadow: 1px 1px 1px lightblue

      .gallery-socials
        border: none
        background: none

    .translator-item
      width: 270px
      margin: 10px 5px
      box-shadow: $material-box-shadow

      @media (max-width: 500px)
        width: 90%

      h4
        margin: 10px

      .clients-box
        width: 100%
        height: 100%
        margin: 10px 0
        font-weight: bold
        color: rgba(0,0,0,0.6)
        text-shadow: 2px 2px 3px rgba(255,255,255,0.1)


      .clients-list
        box-sizing: border-box
        height: 100%
        padding: 0
        border-radius: 15px

        &__name-container
          display: flex
          justify-content: space-between
          box-sizing: border-box
          width: 100%
          text-align: left
          padding: 5px
          font-weight: normal

          p
            font-family: Lato
            margin: auto 0

          &:last-child
            border-bottom: none

        &__action-buttons
          display: flex
          flex-direction: column
          justify-content: space-between
          width: 20px
          padding: 5px
          border-left: 0.5px solid black

          button
            margin: 0
            padding: 0
            border: 0
            background: none
            width: 100%
            height: auto
            cursor: pointer

            &:not(:first-child)
              margin-top: 0.5rem

      .name-table
        display: grid
        width: 100%
        grid-template-columns: 1fr 1fr
        text-align: left
        border-radius: 5px

      .value
        font-family: Sans-Serif
        color: rgba(0,0,0,0.6)
        letter-spacing: 1px
        text-shadow: 2px 2px 3px rgba(255,255,255,0.1)

.clients-header
  color: white
