@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap");
.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  z-index: 1;
  height: 100%;
  max-height: 80vh;
  z-index: 3;
}
.gallery-container .bigScreen-translator-menu {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  background: rgb(255, 255, 255);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 3;
}
.gallery-container .gallery-menu {
  align-self: flex-start;
  border: 2px solid rgb(255, 255, 255);
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px;
  width: 90%;
  max-width: 326px;
}
.gallery-container .gallery-menu_no-border {
  border: none;
  padding: 0;
}
.gallery-container .gallery-menu__inline-filters {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  border-left: 2px solid black;
}
.gallery-container .gallery-menu__filters-label {
  position: relative;
  transform: rotate(90deg);
  margin-left: -40px;
}
.gallery-container .gallery-menu__filters {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
}
.gallery-container .gallery-menu__date-container {
  width: 40%;
}
.gallery-container .gallery-menu__checkbox-container {
  display: flex;
  align-items: center;
  text-align: left;
  padding: 2px;
  width: 40%;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  font-size: 0.875rem;
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 5px;
}
.gallery-container .gallery-menu__checkbox-container:hover {
  text-decoration: none;
  border-color: rgba(0, 0, 0, 0.87);
}
.gallery-container .gallery-menu .MuiAccordionDetails-root {
  flex-direction: column;
  padding: 0;
}
.gallery-container .gallery-menu .MuiAccordion-rounded {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
@media (min-width: 1000px) and (max-width: 1064px) {
  .gallery-container .gallery-menu__checkbox-container {
    align-self: end;
  }
  .gallery-container .gallery-menu__date-container {
    align-self: end;
  }
}
.gallery-container .inner-gallery-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px 5px;
  min-width: 90vw;
  padding: 10px;
  box-sizing: border-box;
  min-height: 232px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(5px);
}
@media (max-width: 1130px) {
  .gallery-container .inner-gallery-container {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
@media (max-width: 999px) {
  .gallery-container .inner-gallery-container {
    border-top-left-radius: 0;
    border-top-right-radius: 10px;
  }
}
.gallery-container .inner-gallery-container .gallery-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  width: 120px;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.gallery-container .inner-gallery-container .gallery-item .lady-thumbnail {
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 1px 1px 1px lightblue;
}
.gallery-container .inner-gallery-container .gallery-item .gallery-socials {
  border: none;
  background: none;
}
.gallery-container .inner-gallery-container .translator-item {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  position: relative;
  width: 270px;
  min-height: 460px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  align-self: flex-start;
}
.gallery-container .inner-gallery-container .translator-item::before {
  position: absolute;
  bottom: -20px;
  right: -10px;
  content: "";
  width: 120%;
  height: 80px;
  background: rgba(0, 0, 0, 0.7);
  transform: rotate(5deg);
}
.gallery-container .inner-gallery-container .translator-item::after {
  position: absolute;
  bottom: 50px;
  right: -10px;
  content: "";
  width: 120%;
  height: 20px;
  border-radius: 50%;
  background: #fafeff;
  transform: rotate(5deg);
}
@media (max-width: 650px) {
  .gallery-container .inner-gallery-container .translator-item {
    width: 90%;
  }
}
.gallery-container .inner-gallery-container .translator-item .MuiCardContent-root {
  margin-bottom: 15px;
}
@media (max-width: 650px) {
  .gallery-container .inner-gallery-container .translator-item .MuiCardContent-root {
    margin-bottom: 25px;
  }
}
.gallery-container .inner-gallery-container .translator-item--suspended {
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.7);
}
.gallery-container .inner-gallery-container .translator-item--suspended::before {
  background: rgba(255, 255, 255, 0.7);
  transform: rotate(-5deg);
}
.gallery-container .inner-gallery-container .translator-item--suspended::after {
  display: none;
}
.gallery-container .inner-gallery-container .translator-item--suspended .MuiRating-root {
  background: rgb(255, 255, 255);
  border-radius: 8px;
}
.gallery-container .inner-gallery-container .translator-item h4 {
  margin: 10px;
}
.gallery-container .inner-gallery-container .translator-item .clients-box {
  width: 100%;
  height: 100%;
  margin: 10px 0;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
}
.gallery-container .inner-gallery-container .translator-item .MuiAccordion-root::before {
  display: none;
}
.gallery-container .inner-gallery-container .translator-item .MuiAccordionDetails-root {
  flex-wrap: wrap;
}
.gallery-container .inner-gallery-container .translator-item .MuiPaper-root:first-child {
  order: 3;
}
.gallery-container .inner-gallery-container .translator-item .MuiPaper-root:not(:first-child) {
  margin-top: 12px;
  background: #ffffff;
}
.gallery-container .inner-gallery-container .translator-item .MuiCardActions-root {
  padding: 4px 16px 8px 16px;
}
.gallery-container .inner-gallery-container .translator-item .clients-list {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  border-radius: 15px;
  margin: 0;
  padding: 15px 0;
}
.gallery-container .inner-gallery-container .translator-item .clients-list__name-container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 5px;
}
.gallery-container .inner-gallery-container .translator-item .clients-list__name-container p {
  font-family: Lato;
  margin: auto 0;
}
.gallery-container .inner-gallery-container .translator-item .clients-list__name-container:last-child {
  border-bottom: none;
}
.gallery-container .inner-gallery-container .translator-item .clients-list__finance-container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 5px;
  font-weight: normal;
  font-size: 0.8rem;
}
.gallery-container .inner-gallery-container .translator-item .clients-list__finance-container--pink_text {
  color: #D30DA5;
}
.gallery-container .inner-gallery-container .translator-item .clients-list__finance-container--green_text {
  color: #008539;
}
.gallery-container .inner-gallery-container .translator-item .clients-list__finance-container--blue_text {
  color: #2196f6;
}
.gallery-container .inner-gallery-container .translator-item .clients-list__finance-container--red_text {
  color: #E60B00;
}
.gallery-container .inner-gallery-container .translator-item .clients-list__action-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  padding: 5px;
  border-left: 0.5px solid black;
}
.gallery-container .inner-gallery-container .translator-item .clients-list__action-buttons button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  width: 100%;
  height: auto;
  cursor: pointer;
}
.gallery-container .inner-gallery-container .translator-item .clients-list__action-buttons button:not(:first-child) {
  margin-top: 0.5rem;
}
.gallery-container .inner-gallery-container .translator-item .name-table {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  border-radius: 5px;
}
.gallery-container .inner-gallery-container .translator-item .value {
  font-family: Sans-Serif;
  color: rgba(0, 0, 0, 0.6);
  letter-spacing: 1px;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
}
.gallery-container .inner-gallery-container .MuiCardActions-root {
  justify-content: flex-start;
}

.scrolled-container {
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  min-height: 200px;
}
.scrolled-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #F5F5F5;
}
.scrolled-container::-webkit-scrollbar {
  width: 8px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #F5F5F5;
}
.scrolled-container::-webkit-scrollbar-thumb {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #2196f3;
}

.clients-header {
  color: white;
}

/*# sourceMappingURL=Gallery.css.map */
