.grid-template-container
    display: grid
    width: 100%
    grid-template-columns: 1fr auto 1fr    
    &__title
        grid-column: 1
    &__info
        grid-column: 3
        justify-self: end
    &__card
        grid-column: 2 / 4
        text-align: end