@import "../../variables"

.table-container
  overflow-y: auto

  table
  //   margin: 10px auto
  //   min-height: 200px
  //   font-family: $table-font-family
  //   font-size: 14px
  //   text-align: center
  //   width: 95%
  //   background-color: #000000
  //   padding: 1px

  // th, td:first-child
  //   background: $table-background
  //   padding: 10px 20px

  // td
  //   width: 50%
  //   background: $table-background

  // th:nth-child(2), td:nth-child(2)
  //   text-align: right

  // th:nth-child(2n), td:nth-child(2n)
  //   padding: 10px 20px
  //   text-align: right

.green-text
  margin-left: 0.5rem
  font-weight: bold
  color: $green-text-color

.red-text

  margin-left: 0.5rem
  font-weight: bold
  color: #d5232f

.blue-text
  font-weight: bold
  color: #1976d2

.styled-text-numbers
  letter-spacing: 1px
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2)


