@import "../../variables"

$sceleton-loader-color: #f5f5f5
$sceleton-loader-color-second: #ccc
@mixin skeletonLoader($width, $height)
  border-radius: 4px
  background: $sceleton-loader-color
  animation: skeleton 1.5s linear infinite
  width: $width
  height: $height

.top-button
  border-radius: 0
  border-top-left-radius: 5px
  border-top-right-radius: 5px

.middle-button
  border-radius: 0

.translators-container
  align-content: flex-start

  h3
    background: transparent
    border: none
    height: 20px

.sum-popover
  .MuiPaper-root
    padding: 0.8rem
    width: 15rem

.skeleton
  display: flex
  flex-direction: column
  align-items: center
  gap: 10px
  min-height: 300px
  padding: 20px
  &-rating
    @include skeletonLoader(40%, 16px)
  &-name
    @include skeletonLoader(70%, 20px)
  &-email
    @include skeletonLoader(20px, 20px)
  &-row
    @include skeletonLoader(100%, 16px)
  &-bigRow
    @include skeletonLoader(100%, 30px)

.date-container
  margin-bottom: 20px

@keyframes skeleton
  0%
    background-color: $sceleton-loader-color

  50%
    background-color: $sceleton-loader-color-second

  100%
    background-color: $sceleton-loader-color

@media (min-width: 1000px) and (max-width: 1064px)
  .translators-container
    &__menu-button
      & > span
        display: flex
        margin-top: 5px
        flex-direction: column

@media (max-width: 900px)
  .translators-container
    max-width: 90vw

@media (max-width: 500px)
  .translators-container
    border-top-left-radius: 0
    border-top-right-radius: 0
