table
  margin: 10px auto
  min-height: 200px
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif
  font-size: 14px
  text-align: center
  width: 95%
  background-color: #fcfcfc
  border-radius: 5px
  padding: 1px
th, td:first-child
  background: #AFCDE7
  color: white
  padding: 10px 20px


td
  background: #D8E6F3

th:first-child, td:first-child
  text-align: left