@import "../../variables"

.logged-user
  margin: 10px
  font-weight: bold
  font-size: 15px
  max-width: 212px
  color: $main_color
  font-style: italic

.user-email
  color: $secondary_color
  font-style: normal

.sunrise-header
  display: flex
  justify-content: center
  width: 100%
  background: rgba(255,255,255,0.8)