.App {
  text-align: center;
  background: url("images/background-27.png");
  min-height: 100vh;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40px;
  padding: 10px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 15s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*height: 60vh;*/
  min-height: 520px;
  margin-bottom: 50px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
