@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&display=swap");
body {
  font-family: "Lato";
  margin: 0;
}

.App {
  position: relative;
  font-family: inherit;
  text-align: center;
  background-size: cover !important;
  min-height: 100vh;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  animation: movingBackground infinite 300s linear;
}

.main-container {
  width: 90%;
  z-index: 1;
  max-height: 80vh;
  margin: 0 auto;
  padding: 10px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  overflow-x: no;
}

.invisible {
  display: none !important;
}

.sun {
  position: absolute;
  top: 200px;
  animation: sun-motion infinite 120s linear, sun-rotate infinite 18s linear;
}

ul {
  list-style-type: none;
}

.gradient-box {
  background: linear-gradient(0deg, rgba(2, 0, 36, 0.2) 0%, rgba(255, 255, 255, 0.2) 0%, rgba(0, 212, 255, 0.2) 100%);
}
.gradient-box--intense {
  background: linear-gradient(180deg, rgba(2, 0, 36, 0.5) 0%, rgba(255, 255, 255, 0.5) 0%, rgba(0, 212, 255, 0.5) 100%);
}

@keyframes sun-rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes sun-motion {
  0% {
    margin: 20px 0 0 -10vw;
  }
  10% {
    margin: -20px 0 0 5vw;
  }
  20% {
    margin: -60px 0 0 20vw;
  }
  30% {
    margin: -100px 0 0 30vw;
  }
  40% {
    margin: -140px 0 0 40vw;
  }
  50% {
    margin: -180px 0 0 50vw;
  }
  60% {
    margin: -140px 0 0 60vw;
  }
  70% {
    margin: -100px 0 0 70vw;
  }
  80% {
    margin: -60px 0 0 85vw;
  }
  90% {
    margin: -20px 0 0 100vw;
  }
  100% {
    margin: 20px 0 0 110vw;
  }
}
@keyframes sun-circle--1-motion {
  10% {
    transform: rotate(-60deg);
  }
  20% {
    transform: rotate(-55deg);
  }
  30% {
    transform: rotate(-35deg);
  }
  40% {
    top: 320px;
    left: 45vw;
    transform: rotate(-10deg);
  }
  50% {
    top: 330px;
    left: 40vw;
    transform: rotate(30deg);
  }
  60% {
    top: 340px;
    left: 35vw;
    transform: rotate(50deg);
  }
  70% {
    top: 330px;
    left: 30vw;
    transform: rotate(65deg);
  }
  80% {
    top: 320px;
    left: 25vw;
    transform: rotate(75deg);
  }
  90% {
    top: 310px;
    left: 20vw;
    transform: rotate(80deg);
  }
  100% {
    top: 300px;
    left: 15vw;
    transform: rotate(85deg);
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes movingBackground {
  0% {
    background-position: top 50% left;
  }
  100% {
    background-position: top 50% right;
  }
}
main {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

.animated-box {
  animation: appear 0.5s linear;
}

@keyframes appear {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes animate-in-view-rotate {
  0% {
    transform: translateY(100%) rotate(45deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
@keyframes animate-out-view-rotate {
  0% {
    transform: translateY(0) rotate(0);
  }
  100% {
    transform: translateY(-100%) rotate(-45deg);
  }
}
@keyframes animate-in-view-slide-medium {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes animate-out-view-slide-medium {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes animate-in-view-slide-big {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes animate-out-view-slide-big {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-150%);
  }
}
@keyframes animate-in-view-slide-small {
  0% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes animate-out-view-slide-small {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}
@supports (animation-timeline: view()) {
  #on-scroll__slide-animation-list > li {
    view-timeline-name: --slide-animation;
    view-timeline-axis: block;
    animation: animate-in-view-slide-small linear forwards, animate-out-view-slide-small linear forwards;
    animation-range: entry, exit;
    animation-duration: 1ms;
    animation-timeline: --slide-animation;
  }
  @media (max-width: 650px) {
    #on-scroll__rotate-animation-list > div {
      view-timeline-name: --rotate-animation;
      view-timeline-axis: block;
      animation: animate-in-view-rotate linear forwards, animate-out-view-rotate linear forwards;
      animation-range: entry, exit;
      animation-duration: 1ms;
      animation-timeline: --rotate-animation;
    }
  }
}/*# sourceMappingURL=App.css.map */