@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&display=swap");
body {
  font-family: "Lato";
  margin: 0;
}

body .main_Container {
  width: 90%;
  z-index: 1;
  max-height: 80vh;
  margin: 0 auto;
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  overflow-x: no;
}

.App {
  position: relative;
  font-family: inherit;
  text-align: center;
  background-size: cover !important;
  min-height: 100vh;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: movingBackground infinite 300s linear;
          animation: movingBackground infinite 300s linear;
}

.invisible {
  display: none !important;
}

.sun {
  position: absolute;
  top: 200px;
  -webkit-animation: sun-motion infinite 120s linear, sun-rotate infinite 18s linear;
          animation: sun-motion infinite 120s linear, sun-rotate infinite 18s linear;
}

ul {
  list-style-type: none;
}

.gradient-box {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(2, 0, 36, 0.2)), color-stop(0%, rgba(255, 255, 255, 0.2)), to(rgba(0, 212, 255, 0.2)));
  background: linear-gradient(0deg, rgba(2, 0, 36, 0.2) 0%, rgba(255, 255, 255, 0.2) 0%, rgba(0, 212, 255, 0.2) 100%);
}

.gradient-box--intense {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(2, 0, 36, 0.5)), color-stop(0%, rgba(255, 255, 255, 0.5)), to(rgba(0, 212, 255, 0.5)));
  background: linear-gradient(180deg, rgba(2, 0, 36, 0.5) 0%, rgba(255, 255, 255, 0.5) 0%, rgba(0, 212, 255, 0.5) 100%);
}

@-webkit-keyframes sun-rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes sun-rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes sun-motion {
  0% {
    margin: 20px 0 0 -10vw;
  }
  10% {
    margin: -20px 0 0 5vw;
  }
  20% {
    margin: -60px 0 0 20vw;
  }
  30% {
    margin: -100px 0 0 30vw;
  }
  40% {
    margin: -140px 0 0 40vw;
  }
  50% {
    margin: -180px 0 0 50vw;
  }
  60% {
    margin: -140px 0 0 60vw;
  }
  70% {
    margin: -100px 0 0 70vw;
  }
  80% {
    margin: -60px 0 0 85vw;
  }
  90% {
    margin: -20px 0 0 100vw;
  }
  100% {
    margin: 20px 0 0 110vw;
  }
}

@keyframes sun-motion {
  0% {
    margin: 20px 0 0 -10vw;
  }
  10% {
    margin: -20px 0 0 5vw;
  }
  20% {
    margin: -60px 0 0 20vw;
  }
  30% {
    margin: -100px 0 0 30vw;
  }
  40% {
    margin: -140px 0 0 40vw;
  }
  50% {
    margin: -180px 0 0 50vw;
  }
  60% {
    margin: -140px 0 0 60vw;
  }
  70% {
    margin: -100px 0 0 70vw;
  }
  80% {
    margin: -60px 0 0 85vw;
  }
  90% {
    margin: -20px 0 0 100vw;
  }
  100% {
    margin: 20px 0 0 110vw;
  }
}

@-webkit-keyframes sun-circle--1-motion {
  10% {
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
  }
  20% {
    -webkit-transform: rotate(-55deg);
            transform: rotate(-55deg);
  }
  30% {
    -webkit-transform: rotate(-35deg);
            transform: rotate(-35deg);
  }
  40% {
    top: 320px;
    left: 45vw;
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  50% {
    top: 330px;
    left: 40vw;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  60% {
    top: 340px;
    left: 35vw;
    -webkit-transform: rotate(50deg);
            transform: rotate(50deg);
  }
  70% {
    top: 330px;
    left: 30vw;
    -webkit-transform: rotate(65deg);
            transform: rotate(65deg);
  }
  80% {
    top: 320px;
    left: 25vw;
    -webkit-transform: rotate(75deg);
            transform: rotate(75deg);
  }
  90% {
    top: 310px;
    left: 20vw;
    -webkit-transform: rotate(80deg);
            transform: rotate(80deg);
  }
  100% {
    top: 300px;
    left: 15vw;
    -webkit-transform: rotate(85deg);
            transform: rotate(85deg);
  }
}

@keyframes sun-circle--1-motion {
  10% {
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
  }
  20% {
    -webkit-transform: rotate(-55deg);
            transform: rotate(-55deg);
  }
  30% {
    -webkit-transform: rotate(-35deg);
            transform: rotate(-35deg);
  }
  40% {
    top: 320px;
    left: 45vw;
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  50% {
    top: 330px;
    left: 40vw;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  60% {
    top: 340px;
    left: 35vw;
    -webkit-transform: rotate(50deg);
            transform: rotate(50deg);
  }
  70% {
    top: 330px;
    left: 30vw;
    -webkit-transform: rotate(65deg);
            transform: rotate(65deg);
  }
  80% {
    top: 320px;
    left: 25vw;
    -webkit-transform: rotate(75deg);
            transform: rotate(75deg);
  }
  90% {
    top: 310px;
    left: 20vw;
    -webkit-transform: rotate(80deg);
            transform: rotate(80deg);
  }
  100% {
    top: 300px;
    left: 15vw;
    -webkit-transform: rotate(85deg);
            transform: rotate(85deg);
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes movingBackground {
  0% {
    background-position: top 50% left;
  }
  100% {
    background-position: top 50% right;
  }
}

@keyframes movingBackground {
  0% {
    background-position: top 50% left;
  }
  100% {
    background-position: top 50% right;
  }
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.App-link {
  color: #61dafb;
}

.animated-box {
  -webkit-animation: appear 0.5s linear;
          animation: appear 0.5s linear;
}

@-webkit-keyframes appear {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes appear {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=App.css.map */