@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap")

$main_color: rgba(78, 205, 196, 1)
$main_color_opacity: rgba(78, 205, 196, 0.7)
$secondary_color: #9E6700
$text-font-family: 'Lato'
$table-font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif
$table-background: #D8E6F3
$black-text-color: #000000
$green-text-color: #339966