@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap")

$main_color: rgba(255,255,255,1)
$main_color_opacity: rgba(255,255,255,0.7)
$secondary_color: #797272
$secondary_color_opacity: rgba(0, 0, 0, 0.7)
$text-font-family: 'Lato'
$table-font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif
$table-background: #ffffff
$black-text-color: #000000
$green-text-color: #339966
$blue-scrollbar-color: #2196f3
$form-background-menu: rgba(192, 222, 229, 0.7)
$material-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
$finances-border: rgba(224, 224, 224,1)
$finances-text-black: rgba(51, 51, 51, 1)
$finances-text-grey: rgba(147, 160, 171, 1)
//colors for client balance marks
//colors for client balance marks

$pink: #D30DA5
$green: #008539
$blue: #2196f6
$red: #E60B00
